/* ZMIENNE */
:root {
  --grey-font-color: #9CA5AA;
  --green-font-color: #309804;
  --subpage-bg-color: #F5F5F5;
}

/* OGÓLNY SELECTOR */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* APLIKACJA */
.application {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-app-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* SZCZEGÓŁY PRODUKTU */
.subpage-bg {
	background-color: var(--subpage-bg-color);
	border-radius: 50px;
  width: 70vw;
  padding: 20px;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.subpage-header {
  font-size: 2rem;
  color: var(--green-font-color);
  margin: 20px;
}

.subpage-content {
  color: var(--grey-font-color);
  font-size: 1rem;
  text-align: left;
}

th, td {
  padding: 5px 20px;
}

/* HEADBAR */
.headbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100vw;
  margin-bottom: 70px;
}

.logo-icon {
  height: 100px;
  margin: 0px 50px;
}

.headbar-icons {
  height: 30px;
  color: var(--grey-font-color);
}

/* ALL THE BUTTONS */
.button {
  background-color: white;
  color: var(--grey-font-color);
  font-weight: bold;
  border: none;
  margin: 0px 20px;
  transition: opacity 0.2s;
  font-size: 1rem;
}

.sidebar-button {
  margin: 10px 0px;
}

.green-button {

}

.red-button {

}

.button:hover {
  opacity: 0.7;
}

.button:active {
  opacity: 0.4;
}

/* SIDEBARS */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
}