/* ZMIENNE */
:root {
  --grey-font-color: #9CA5AA;
  --green-font-color: #309804;
  --subpage-bg-color: #F5F5F5;
  --green-button-color: #A8E063;
  --red-button-color: #D32525;
  --main-section-header-gradient: linear-gradient(180deg, #56AB2F, #A8E063);
}

/* OGÓLNY SELECTOR */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100vw;
}

.logo-icon {
  height: 100px;
}

.rest-icons {
  height: 30px;
  color: var(--grey-font-color);
  margin: 0px 30px;
}

/* FOOTER */
.footer {
  height: 100px;
  width: 100vw;
  line-height: 100px;
  text-align: center;
  color: var(--grey-font-color);
}

/* APLIKACJA */
.application {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-around;
  margin: 30px 0px;
}

.text-color {
  color: var(--grey-font-color);
  font-weight: bold;
  margin: 0px 20px;
}

.loading {
  margin: 20px;
}

/* LISTA PRODUKTÓW */
.main-section-header {
  height: 150px;
  width: 90%;
  background: var(--main-section-header-gradient);
  border-radius: 30px;
}

.main-section-header-title {
  color: white;
  text-decoration: underline;
  text-align: center;
  line-height: 150px;
}

/* SKRÓCONE INFO O PRODUKCIE */
.product {
  background-color: white;
  width: 50vw;
  margin: 20px 0px;
  border-radius: 15px;
}

.product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

/* SZCZEGÓŁY PRODUKTU */
.subpage-bg {
	background-color: var(--subpage-bg-color);
	border-radius: 50px;
  width: 70vw;
  padding: 20px;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.subpage-header {
  font-size: 2rem;
  color: var(--green-font-color);
  margin: 20px;
}

.subpage-content {
  color: var(--grey-font-color);
  font-size: 1rem;
  text-align: left;
}

th, td {
  padding: 5px 20px;
}

/* BUTTONY */
.button {
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  border: none;
  margin: 0px 20px;
  transition: opacity 0.2s;
  font-size: 1rem;
  margin: 10px 10px;
}

.sidebar-button {
  color: var(--grey-font-color);
  width: 100%;
}

.green-button {
  background-color: var(--green-button-color);
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
}

.red-button {
  background-color: var(--red-button-color);
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  opacity: 0.4;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 10%;
  height: 100%;
}

.categories {
  border-top: 3px solid var(--grey-font-color);
  border-bottom: 3px solid var(--grey-font-color);
}

/* SHOPPING CART */
.shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 10%;
  height: 100%;
}

.cart-position {
  text-align: center;
  width: 100%;
}

.summary {
  background-color: white;
  width: 50vw;
  margin: 20px 0px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}